<div>
  admin &gt; feed
</div>

<h2>Feed</h2>
<div>
  <% for feed in @feeds -%>
  <div style="padding:10px;border:1px solid #000;">
    <ul>
      <li><%= feed.title %></li>
      <li><%= feed.url %></li>
      <li><%= feed.items.size %> items</li>
      <li><%= link_to 'X', admin_feed_path(feed), :method => :delete, :confirm => 'Are you sure?' %></li>
    </ul>
  </div>
  <% end -%>
</div>

<p>
  <%= link_to "Add New Feed", new_admin_feed_path %>
</p>
